body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  background-image: url("../assets/11_background.png");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

